<!DOCTYPE html>
<html>
<head>
    <title>Hermes ERROR</title>
</head>

<body>
<h1>ERROR :</h1>
<h3><%= error %></h3>
<br>
<p>Redirection vers la page d'accueil...</p>

<script>
    window.setTimeout("location=('/');",4000);
</script>


</body>
</html>