<% include template-head.ejs %>

<h1>ERROR :</h1>
<h3><%= error %></h3>
<br>
<p>Redirection vers la page d'accueil...</p>

<script>
    window.setTimeout("location=('/');",3000);
</script>

<% include template-foot.ejs %>