
<% include template-head.ejs %>

<form action="/" method="post">
    IP du robot :<br>
    <input type="text" name="ip"><br>
    <input type="submit" value="OK">
</form>

<% include template-foot.ejs %>