<!DOCTYPE html>
<html>
<head>
    <title>Hermes</title>
    <link href="/css/remote.css" rel="stylesheet" type="text/css">
</head>

<body>

<p>Hermes<br></p>

<button  name="fbutton" id="fbutton">Avant</button><br>
<button  name="lbutton" id="lbutton">Gauche</button>
<button  onclick="stop()">Stop</button>
<button  name="rbutton" id="rbutton">Droite</button><br>
<button  name="bbutton" id="bbutton" >Arrière</button>
<br>
<br>
<p>Vitesse :</p>
<input type="range" value="50" max="100" min="0">
<br>
<button onclick="shutdown()">Fin du pilotage</button>

<video width=320 height=240 autoplay>
    <source src="http://localhost:8081">
</video>

<p id="speed">Arrêt</p>
<p id="turn">Tout droit</p>


<script src="/socket.io/socket.io.js"></script>
<script src="/controllers/remoteController.js"></script>

</body>
</html>