<!DOCTYPE html>
<html>
<head>
    <title>Hermes</title>
    <link href="/css/remote.css" rel="stylesheet" type="text/css">
    <link href="//vjs.zencdn.net/5.11/video-js.min.css" rel="stylesheet">
    <script src="//vjs.zencdn.net/5.11/video.min.js"></script>
</head>

<body>

<p>Hermes<br></p>

<button  name="fbutton" id="fbutton">Avant</button><br>
<button  name="lbutton" id="lbutton">Gauche</button>
<button  onclick="stop()">Stop</button>
<button  name="rbutton" id="rbutton">Droite</button><br>
<button  name="bbutton" id="bbutton" >Arrière</button>
<br>
<br>
<p>Vitesse :</p>
<input type="range" max="100" min="0" id="speedSlider" onmouseup="setSpeed(this.value)">
<br>
<button onclick="shutdown()">Fin du pilotage</button>
<br>

<video
        id="my-player"
        class="video-js"
        controls
        preload="auto"
        poster="//vjs.zencdn.net/v/oceans.png"
        data-setup='{}'>
    <source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4"></source>
    <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm"></source>
    <source src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg"></source>
    <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">
            supports HTML5 video
        </a>
    </p>
</video>

<p id="speed">Arrêt</p>
<p id="turn">Tout droit</p>


<script src="/socket.io/socket.io.js"></script>
<script src="/controllers/remoteController.js"></script>

</body>
</html>