<% include template-head.ejs%>

<div class="w3-container w3-half">

    <link href="/css/remote.css" rel="stylesheet" type="text/css">
    <p>Vitesse :</p>
    <input style="alignment: center" type="range" max="100" min="0" id="speedSlider" onmouseup="setSpeed(this.value)">


    <br>
    <br>
    <strong>Position : </strong>[ x=<span id="positionX"></span> : y= <span id="positionY"></span> ]<br>
    <strong>Batterie : </strong><span id="batteryLevel"></span> %<br>
    <strong>Caméra : </strong><span id="cameraState"></span><br>
    <strong>Utilisation CPU : </strong><span id="cpuLoad"></span> %<br>
    <strong>Température CPU : </strong><span id="cpuTemp"></span> °C<br>
    <strong>RAM Utilisée : </strong><span id="usedRam"></span> Mo<br>
    <strong>RAM Totale : </strong><span id="totalRam"></span> Mo<br>
    <strong>Vitesse : </strong><span id="snmpSpeed"></span><br>
    <strong>Orientation : </strong><span id="orientation"></span> Rad<br>




    <p id="speed">Arrêt</p>
    <p id="turn">Tout droit</p>

    <script src="/lib/janus.js"></script>
    <script src="/lib/adapter.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/lib/communication.js"></script>
    <script src="/controllers/janusStream.js"></script>
    <script src="/controllers/remoteController.js"></script>

</div>

<div class="w3-container w3-half" style="background: lightgrey">
    <br>
    <br>
    <div class="stream">
        <video id="remotevideo" width=480 height=360 autoplay>Chargement du stream vidéo...</video>
    </div>

    <br>
    <br>
</div>

<div class="w3-container">

    <button onclick="shutdown()">Fin du pilotage</button>
</div>

<% include template-foot.ejs %>