<!DOCTYPE html>
<html>
<body>

<p>Hermes<br></p>

<button  name="fbutton" id="fbutton">Avant</button><br>
<button  name="lbutton" id="lbutton">Gauche</button>
<button  onclick="stop()">Stop</button>
<button  name="rbutton" id="rbutton">Droite</button><br>
<button  name="bbutton" id="bbutton" >Arrière</button>
<br>
<br>
<br>
<button onclick="shutdown()">Fin du pilotage</button>



<p id="speed">Arrêt</p>
<p id="turn">Tout droit</p>

<script>
    function moveForward() {
        document.getElementById("speed").innerHTML = "Marche avant";
        sendEvent("go");
    }

    function moveBackward() {
        document.getElementById("speed").innerHTML = "Marche arrière";
        sendEvent("gor");

    }

    function turnLeft() {
        document.getElementById("turn").innerHTML = "Tourne à gauche";
        sendEvent("sweepL");
    }

    function turnRight() {
        document.getElementById("turn").innerHTML = "Tourne à droite";
        sendEvent("sweepR");
    }

    function stop() {
        document.getElementById("speed").innerHTML = "Arrêt";
        sendEvent("stop");
    }

    function sweepStop () {
        document.getElementById("turn").innerHTML = "Arrete de tourner"
        sendEvent("sweepstop");
    }



    function keyDown(event) {

        if (event.keyCode === 38) // avant
            moveForward();
        else if (event.keyCode === 40) //arriere
            moveBackward();
        else if (event.keyCode === 37) //gauche
            turnLeft();
        else if (event.keyCode === 39) //droite
            turnRight();

    }

    function keyUp(event) {

        if (event.keyCode === 38)
            stop();
        else if (event.keyCode === 40)
            stop();
        else if (event.keyCode === 37)
            sweepStop();
        else if (event.keyCode === 39)
            sweepStop();
    }

    function sendEvent(string){
        var form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.setAttribute('action', 'remote');
        form.setAttribute('orderstr', string);
        form.style.display = 'hidden';
        document.body.appendChild(form);
        form.submit();
    }

    var fbutton = document.getElementById('fbutton');
    var bbutton = document.getElementById('bbutton');
    var rbutton = document.getElementById('rbutton');
    var lbutton = document.getElementById('lbutton');

    fbutton.addEventListener('mousedown', moveForward);
    bbutton.addEventListener('mousedown', moveBackward);
    rbutton.addEventListener('mousedown', turnRight);
    lbutton.addEventListener('mousedown', turnLeft);

    fbutton.addEventListener('mouseup', stop);
    bbutton.addEventListener('mouseup', stop);
    rbutton.addEventListener('mouseup', stop);
    lbutton.addEventListener('mouseup', stop);

    document.addEventListener('keydown', keyDown);
    document.addEventListener('keyup', keyUp);




</script>

</body>
</html>